html,
body {
  height: 100%;
  padding: 0;
  font-family: 'Alfa Slab One', cursive;
}
.bgImage {
  background-image: url(https://3.bp.blogspot.com/-Iquo1cGSlOs/XB2UzIdKPvI/AAAAAAAADJ0/9BHM6WbGrgogBciibEYHvQScL6fagCUCgCHMYCw/s1600/red-hot-chili-peppers-wallpaper-and-background-image-1280x800.jpg);
  background-size: 100%;
}
h1 {
  font-family: 'Alfa Slab One', cursive;
}
h2 {
  font-family: 'Alfa Slab One', cursive;
}
h4 {
  font-family: 'Alfa Slab One', cursive;
}
h5 {
  font-family: 'Alfa Slab One', cursive;
}
p {
  font-family: 'Alfa Slab One', cursive;
}

#home {
  color: white;
  text-align: center;
  min-height: 100%;
/*align text vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  color: black;
  max-width: 500px;
  min-height: 100%;
/*align text vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#discography {
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/*  or instead of center-block:
.img-responsive {
    margin: 0 auto;
}*/

#members {
  color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: #9a9c9e;
  padding-bottom: 15px;
  padding-top: 15px
}

#github {
  color: white;
  background-color: black;
  border-color: black;
}

.btn {
  width: 90px;
}

.fit {
  min-height: 100%;
}


/*
#facebook {
  background-color: ;
}

#twitter {
  background-color: ;
}

#google-plus {
  background-color: ;
}
*/

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.two {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}